<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:theme="@style/AppTheme"
        android:label="北海道ゴルフ GPSキャディ"
        android:icon="@android:drawable/ic_menu_compass"
        android:allowBackup="true">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".CourseSelectActivity"
            android:screenOrientation="landscape"
            android:exported="true" />

        <activity
            android:name=".FieldGpsV09Activity"
            android:screenOrientation="portrait"
            android:exported="true" />

        <activity android:name=".RoundReadyActivity" android:exported="true" />
        <activity android:name=".ModeSelectActivity" android:exported="true" />
        <activity android:name=".PlayerSetupActivity" android:exported="true" />

    </application>

</manifest>
